/* Importación utilidades. */
@import "./utility";

/* Estilo de body */
/* Estilo de header */

.svrt-fs-6 {
    font-size: 0.85rem;
}

header div div div ul li a:hover {
    @include underline(1);
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black !important;
}

/* Estilo de main */
.svrt-panoramic {
    height: 30rem;
    background-image: url("../img/panoramica.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.svrt-panoramicBox {
    display: block;
    height: 2rem;
}

$card-img-w:(none-w:25%, sm-w:40%, md-w:75%);
@media (max-width: 575px) {
    .svrt-card-img-w {
        width: map-get($card-img-w, none-w)
    }
}

@media (min-width: 576px) {
    .svrt-card-img-w {
        width: map-get($card-img-w, sm-w)
    }
}

@media (min-width: 768px) {
    .svrt-card-img-w {
        width: map-get($card-img-w, md-w)
    }
}

/* Estilo de footer */
footer ul li a:hover {
    @include underline(1);
}
